<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_track_save_commit_after">
        <observer name="onSaveShipmentTrackUpdateGrid" instance="ScripCo\UiGridAdmin\Observer\ShipmentTrackCommitAfter" />
    </event>
    <event name="sales_order_shipment_track_delete_commit_after">
        <observer name="onSaveShipmentTrackUpdateGrid" instance="ScripCo\UiGridAdmin\Observer\ShipmentTrackCommitAfter" />
    </event>
    <event name="epurch_po_place_order_finish">
        <observer name="onPoOrderSalesGrid" instance="ScripCo\UiGridAdmin\Observer\PoOrderAfter" />
    </event>

</config>
